.btn .btn-primary .dropdown-toggle{
    text-align: center;
}
body{
    background:lime ;
}

.btn {
    responsive: true,
    print: true,
    property: display,
    class: d,
    values: inline inline-block block grid table table-row table-cell flex inline-flex none
}

"overflow": (
    property: overflow,
    values: auto hidden visible scroll,
  ),
  
  "shadow": (
    property: box-shadow,
    class: shadow,
    values: (
      null: $box-shadow,
      sm: $box-shadow-sm,
      lg: $box-shadow-lg,
      none: none,
    )
  ),
  





  